 .one {
                width: 100%;
                height: 100px;
                background-color: yellow;
            }
            .two {
                width: 100%;
                height: 100px;
                background-image: url(images/CMS_Creative_164657191_Kingfisher.jpg);
                background-repeat: repeat-y;
                background-position: right top;
                
            }
            .gradient {
                width: 100%;
                height: 400px;
                background:-webkit-linear-gradient(120deg,#9FF248,#477A14,pink);
                background:-o-linear-gradient(120deg,#9FF248,#477A14,pink);
                background:-moz-linear-gradient(120deg,#9FF248,#477A14,pink);
                background: linear-gradient(120deg,#9FF248,#477A14,pink)
            }
            p {
                margin: 10px;
                padding: 50px;
                
            }